@import "reset.css";
@import "_variables.css";

* {
  box-sizing: border-box;
  font-family: freight-display-pro, Times New Roman, serif;
}
body {
  padding-left: 5%;
  padding-right: 5%;
}

.pb-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 13px;
  height: 160px;
  margin-bottom: 35px;
}
.pb-header__link1,
.pb-header__link3 {
  padding-right: 40px;
}

.wrapper_1,
.wrapper_2,
.pb-header__img {
  width: 33%;
}
.wrapper_1 {
  display: flex;
  justify-content: left;
}
.wrapper_2 {
  display: flex;
  justify-content: right;
}
.pb-header__img {
  display: flex;
  justify-content: center;
}

.imgbox {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: #fbf7f6;
  margin-bottom: 85px;
}
.imgbox img {
  width: 50%;
  height: 100%;
}

.imgbox-desc {
  /* background-color: #fbf7f6; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding-left: 5%;
  padding-right: 5%; */
  padding: 6% 5% 5% 5%;
}
.imgbox-desc span {
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 30px;
}
.imgbox-desc p {
  font-size: 29px;
  /* width: 50%; */
  height: 100%;
  line-height: 35px;
  text-align: center;
}

.imgbox-desc button {
  width: 240px;
  height: 55px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.imgbox-desc button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.buying {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buying-products {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}
.buying-product {
  width: 33.33%;
  /* height: 600px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.buying-product img {
  width: 100%;
  height: 210px;
}
.buying-product__img {
  margin-bottom: 100px;
}

.buying-product button {
  width: 240px;
  height: 55px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
}

.buying-product button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.buying-product__desc {
  text-align: center;
}
.buying-product__desc h2 {
  font-size: 27px;
  overflow: hidden;
  font-style: italic;
}
.buying-product__desc h5 {
  text-transform: uppercase;
  font-size: 9px;
}

.buying-title {
  text-align: center;
  margin-bottom: 100px;
}
.buying-title h5 {
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.buying-title h2 {
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
}
